/* BRUN FÄRG: #51473d */
/* GUL FÄRG: #eae7d2 */
/* MENU FÄRG: #797066 */


/* container */
#container
{
    width:960px;
    float: left;
    margin-left: 170px;
    
}


/* topbar */

#topbar
{
    width: 760px;
    height:300px;
    float: left;
    background-color:#51473d;
    color: #eae7d2;
    background-image: url(../IE7_hela.png);
    background-repeat: no-repeat;
    background-size: content;
    background-size: 200% 390%;
    background-position: -400px -20px;
   
   

   
}



/* menu */

#menu
{
    
    float: left;
    width:760px;
    padding: 0;
    background-color:#51473d;
   
}


/* listan i navigation*/

#menu ul
{
    list-style: none;
    
    
}



#menu li 
{
   
   float: left;
   margin-right: 2px;
 
   
}




/* länkar i navigation (i listan) */

#menu li a
{
    text-decoration:none;
    color: #eae7d2;
    display: block;
    padding: 10px 20px 10px 20px;
    background-color: #797066;
   
    
    
}



#menu a:hover 

{
  
   background-color: #9c9084;
   
    
    
}



#menu a 
{
    display:none;
}






/* content */

#content
{
    width: 760px;
    float: left;
    background-color:#eae7d2;
    margin-top: 1px;
}




/*mainconent */

#maincontent
{
    float: left;
    width: 400px;
    margin-left: 8px;
    margin-top: 10px;
    
}




img
{
    float:left;
    margin-right: 5px;
}


/*subcontent */

#subcontent
{
    width: 350px;
    float:left;
    margin-top: 20px;
    border-left: 1px #797066;
    border-left-style: dashed;
    
}



#subcontent a
{
    color: #797066;
}

#subcontent li 
{
    list-style: none;
    text-align: left;
    margin-left: -30px;
   
}

#subcontent ul
{
     margin-bottom: 50px;
}




/*bottomconent */

#bottomcontent
{ 
    float: left;
    margin-left: 8px;
    margin-bottom: 10px;
    
}

/*text */

p
{
    color: #797066;    
    font-family: verdana;
    font-size:14px;
}

#maincontent h1
{
    font-family: times;
    font-size:30px;
    font-weight: normal;
    color:#797066;
    
}


#maincontent p
{
    margin-right:30px;
    line-height: 20px;
    
    
}


#subcontent p
{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 11px;
    line-height: 20px;
    
}

#subcontent h1
{
    font-family: times;
    font-size:18px;
    font-weight: normal;
    color:#797066;
    margin-left: 10px;
}

#subcontent h2
{
    font-family: times;
    font-size:18px;
    font-style: normal;
    font-weight: normal;
    color:#797066;
    margin-left: 10px;
    margin-top: 40px;
    
}

#topbar
{
    text-align:right;
    font-style: italic;
    font-family: verdana;
    font-size: 12px;
    line-height: 30px;
    
    

}

#menu li a
{
    font-family: verdana;
    font-size: 14px;
}

#bottomcontent
{
    font-family: verdana;
    font-size: 12px;
    font-style: italic;
    color: #797066;
    
    
}
