/* BRUN FÄRG: #51473d */
/* GUL FÄRG: #eae7d2 */
/* MENU FÄRG: #797066 */


/* container */

/* topbar */

#topbar
{
    width: 760px;
    height: 100px;
    float: left;
    background-color:#51473d;

}


/* menu */

#menu
{
    
    float: left;
    width:760px;
    padding: 0;
    background-color:#51473d;
   
}


/* listan i navigation*/

#menu ul
{
    list-style: none;
    
    
    
}

#menu li 
{
   
   float: left;
   margin-right: 5px;
   width: 120px;
   
   
}



/* länkar i navigation (i listan) */

#menu li a
{
    text-decoration:none;
    color: Black;
    display: block;
    padding: 10px 30px 10px 5px;
    background-color: #797066;
   
    
    
}

#menu a:visited
{
    color: black;

    
    
}

#menu a:hover 

{
  
   background-color: #eae7d2;
    
    
}

#menu a 
{
    display:none;
}

/* content */

#content
{
    width: 760px;
    float: left;
    background-color:#eae7d2;
    margin-top: 2px;
}




/*mainconent */

#maincontent
{
    float: left;
    width: 530px;
    margin-left: 5px;
}

#maincontent p
{
    margin-right:20px;
    
}

img
{
    float:left;
    margin-right: 5px;
}


/*subconent */


/*bottomconent */